/*------------ css cho box ------------*/

.box {
}

.box-title {
  border-bottom: 2px solid #d82727;
  margin-bottom: 15px;
  position: relative;
}

.box-title .fTitle {
  display: inline-block;
  background: #d82727;
  padding: 10px 15px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
}

.box-content {
  border: 1px solid #cccccc;
  padding: 15px;
}

.box_mid {
  position: relative;
}

.mid-title {
  position: relative;
  margin-bottom: 15px;
  border-bottom: 2px solid #d82727;
}

.mid-title::after {
  content: '';
  clear: both;
  display: table
}

.mid-title .titleL {
  display: inline-block;
  background: #d82727;
  padding: 10px 15px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;

  font-size: 20px;
  line-height: 25px;
}

.mid-title .titleL h1, .mid-title .titleL a {
  font-size: 20px;
  line-height: 25px;
  font-weight: bold;
  color: #ffffff;
}

.mid-title .titleR {
  float: right;
}

.mid-title .link-more {
  padding-top: 15px;
}
.mid-title .link-more a {
  color: #d82727;
  font-size: 13px;
}

.mid-content {
  border: 1px solid #cccccc;
  padding: 15px;
}

.desc ol {
  margin-left: 10px;
  padding-left: 10px;
  list-style: decimal;
}

.desc ul {
  list-style: disc;
  margin-left: 10px;
  padding-left: 10px;
}

/*===================BEGIN: SHARE NEWS TO SOCIAL NETWORK =========================*/
.box-tools {
  padding: 10px;
  margin: 15px 0;
}

.box-tools .list-social {
  overflow: hidden;
}

.box-tools .list-social ul {
  list-style: none;
  float: right;
}

.box-tools .list-social li {
  float: left;
  position: relative;
  margin-right: 5px;
  height: 30px;
}

.box-tools ul.list-tools {
  list-style: none;
  float: right
}

.box-tools .list-tools li {
  float: left;
  margin-left: 15px;
}

.box-tools .list-tools li a {
  font-size: 13px;
  line-height: 26px;
  padding-left: 20px;
  position: relative;
}

.box-tools .list-tools li a::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  font-size: 16px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.zalo-share-button {
  line-height: 20px;
  padding: 4px 10px 4px 40px;
  background: url(../images/icon_zalo_share.png) #008fe5 no-repeat 5px;
  cursor: pointer;
  color: #fff;
}

/*===================END: SHARE NEWS TO SOCIAL NETWORK =========================*/

.box-tags {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.box-tags .txt {
  margin-right: 5px;
  font-size: 13px;
  color: #333333;
  position: relative;
  padding-left: 20px;
  font-weight: bold;
}

.box-tags .txt:before {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f02b";
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.box-tags > a {
  display: inline-block;
  font-size: 13px;
  color: #666666;
  margin-right: 10px;
  position: relative;
}

.box-tags a ~ a::before {
  position: absolute;
  content: ',';
  left: -7px;
}

.box-tags ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.box-tags ul li {
  margin-right: 5px;
  margin-bottom: 5px;
}

.box-tags ul li a {
  display: block;
  padding: 2px 9px;
  background: #f1f1f1;
  font-size: 13px;
  line-height: 21px;
  color: #666666;
}

.box-tags ul li a:hover {
  color: #7273ae;
}

/*================BEGIN MENU SIDEBAR===============*/
.menuSidebar {
  margin-bottom: 30px;
}

.menuSidebar .title {
  font-size: 18px;
  line-height: 30px;
  background: #7273ae;
  font-weight: 600;
  padding: 5px 20px;
  color: #ffffff;
  position: relative;
}

.menuSidebar .title:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  content: "\f0c9";
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 18px;
  line-height: 26px;
}

.menuSidebar ul {
  border-top: none;
}

.menuSidebar ul li a {
  display: block;
  padding: 7px 0;
  font-size: 14px;
  padding-left: 35px;
  background: #f5f5f5;
  color: #333333;
  border-bottom: solid 1px #7273ae;
  position: relative;
}

.menuSidebar ul li a:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.menuSidebar ul li:last-child a {
  border-bottom: none;
}

.menuSidebar ul li:hover a,
.menuSidebar ul li.current a {
  color: #7273ae;
}

.menuSidebar ul li ul li a {
  background: #303030;
  font-weight: normal;
  border: none;
  padding-left: 45px;
  border-bottom: solid 1px #7273ae;
  position: relative;
}

.menuSidebar ul li ul li a:before {
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #ffffff;
  left: 25px;
  font-size: 5px;
}

.menuSidebar ul li ul li.active a,
.menuSidebar ul li ul li:hover a {
  color: #b35de4;
}

/*================END MENU SIDEBAR=================*/

/*==========================DROPDOWN=================================*/
.menu-category {
  margin-bottom: 50px;
  text-align: center;
}

.menu-category .mc-title {
  display: none;
  font-size: 14px;
  line-height: 25px;
  position: relative;
  padding: 10px 35px 10px 20px;
  background: #f8f8f8;
  color: #333333;
  border: 1px solid #eeeeee;
  text-transform: uppercase;
  text-align: left;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.menu-category .mc-title span {
  color: #ffffff;
}

.menu-category .mc-title:after {
  position: absolute;
  top: 50%;
  right: 15px;
  font-family: FontAwesome;
  content: '\f107';
  font-size: 22px;
  line-height: 33px;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #333333;
}

.menu-category ul {
  list-style: none;
}

.menu-category ul li {
  display: inline-block;
  margin: 0px 5px;
}

.menu-category ul li:last-child {
  border-right: none;
  padding-right: 0;
  margin-right: 0;
}

.menu-category ul li a {
  display: block;
  font-size: 16px;
  line-height: 25px;
  position: relative;
  color: #555555;
  padding: 5px 20px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menu-category ul li a span {
  color: #333333;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menu-category ul li a:hover,
.menu-category ul li a.current {
  background: #7273ae;
  color: #ffffff;
}

.menu-category ul li a:hover span,
.menu-category ul li a.current span {
  color: #ffffff;
}

.menu-category ul ul {
  display: none;
}

/*CATEGORY*/
.box_category {
  padding: 0;
}

.box_category ul {
  list-style: none;
}

.box_category li {
}

.box_category li a {
  display: block;
  font-weight: bold;
  padding-left: 10px;
}

.box_category li a:hover {
  text-decoration: underline;
}

.box_category li a.current {
}

.box_category ul ul {
  list-style: none;
  padding-left: 10px;
}

.box_category ul ul li {
  background: none;
  padding: 2px;
}

.box_category ul ul li a {
  font-weight: normal;
  padding-left: 10px;
}

.box_category ul ul li a:hover {
}

.box_category ul ul li a.current {
}


