
body {
  margin:0 ;
}

div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,blockquote,pre,form,input,textarea {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size:100%;
  font-weight:bold;
}

.clear {clear: both; font-size: 0; line-height: 0; height:0;}
p {margin:0;padding:5px 0;}
ol,ul {	list-style: none;}

a { text-decoration:none;  }
a:hover {   text-decoration: none; }

img { border : 0; max-width: 100%;}
input {  }

.clearfix:after
	{
	content: '[DO NOT LEAVE IT IS NOT REAL]'; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
	}
.clearfix{
	display: inline;
	position: relative;
	}
/*\*/
.clearfix	{
	display: block;
}

.fl {float:left;}
.fr {float:right;}
.hidden {display:none;}
.slick-slide {
  outline: none !important;
}

.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
	color:#a1a1a1;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
.left-addon textarea { padding-left:  30px;}  

/**/
.hide-on-biggest { display: none;}
.hide-on-small { display: block;}

/* -------------------------------------------------------------------
 format text
------------------------------------------------------------------- */

.font_err {	color:#FF0000;}
.font_err a:active , .font_err a:link , .font_err a:visited {  text-decoration: none ; color:#FF0000}
.font_err a:hover {  color:#FF0000; text-decoration: underline; }


/********************* CSS for box_redirect ****************************/
#box_redirect{ border:1px solid #505050; width:70% ;margin:0px auto;  }
#box_redirect p { line-height:18px;}
#box_redirect .top { background:#F78600;border-bottom:1px solid #5C5C5C; color:#FFFFFF;font-size:11px;font-weight:bold;text-transform:uppercase; height:22px;padding:2px; text-align:left; }
#box_redirect .fontMess {color:#65D700;font-size:12px; font-weight:bold;text-align:center;padding:20px 10px;}
#box_redirect .mess { background:#383838; color:#FFFFFF;text-align:center}
#box_redirect .bottom { background:#FFF3DD; color:#000;text-align:center;padding:5px; font-size:12px;}

/********************* CSS for boxMess ****************************/
#boxMess{  border:1px solid #F08200;padding:2px 5px; background:#FCF5CD }
#boxMess  h4.mess { background:url(../images/icon/icon_mess.gif) no-repeat left; padding:2px 30px; color:#FF0000; font-weight:bold; font-size:12px;}
#boxMess  h4.err { background:url(../images/icon/icon_warning.gif) no-repeat left; padding:6px 30px; color:#FF0000; font-weight:bold;}
#boxMess .font_err { color:#950000;}


/*=================BEGIN: BREADCRUMB====================*/
.breadcrumb{
  margin: 0 0 15px 0;
  padding: 7px 0 7px 0;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  width: 100%;
  background: none;
  border-bottom: 1px solid #eeeeee;
}

.breadcrumb ul{
  padding: 0;
  width: 100%;
  background-color: transparent;
  margin: 0;
  position: relative;
  text-align: left;
}
.breadcrumb ul:after{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 150px;
  height: 1px;
}
.breadcrumb ul li{
  padding: 0 10px;
  position: relative;
  display: inline-block;
  color: #999999;
}
.breadcrumb ul li a{
  color: #999999;
}
.breadcrumb ul li:first-child{
  padding: 0 10px 0 0;
}
.breadcrumb ul li ~ li:before{
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content:"\f105";
  top: 0;
  left: -3px;
  font-size: 11px;
}

/*===================END: BREADCRUMB=========================*/

/*=================BEGIN: PAGINATION==================*/
.pagination{
  width: 100%;
  background: transparent;
  padding-top: 0;
  margin:0;
}
.pagination ul{
  padding-bottom: 2px;
}
.pagination ul li{
  display: inline-block;
  margin:0 5px 0 0;
}
.pagination ul li span.pagetotal{
  display: table-cell;
  height: 45px;
  vertical-align: middle;
  background: none;
  color: #333333;
}
.pagination ul li span.pagecur,
.pagination ul li a{
  display: table-cell;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 26px;
  vertical-align: middle;
  color:#333333;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  font-weight: normal;
  background-color: #ffffff;
  border: solid 1px #dfdedb;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.pagination ul li a:hover, .pagination ul li span.pagecur {
  color: #ffffff;
  background-color: #d82727;
  border-color: #d82727;
}
.pagination a, .pagination a:visited{
  color: #666666;
}
