@media screen and (max-width: 991px) {
  .hide-on-biggest {
    display: block;
  }

  .hide-on-small {
    display: none;
  }

  .menu-category {
    position: relative;
    z-index: 99;
    padding: 0;
    border: none;
  }

  .menu-category .mc-title {
    display: block;
  }

  .menu-category .mc-content {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .menu-category.active .mc-content {
    opacity: 1;
    visibility: visible;
  }

  .menu-category ul {
    text-align: left;
    margin: 0;
    max-height: 360px;
    overflow-y: auto;
  }

  .menu-category ul li {
    display: block;
    margin: 0;
    padding: 0;
    background: #ffffff;
  }

  .menu-category ul li:last-child {
    border-right: 1px solid #e5e5e5;
  }

  .menu-category ul li a {
    display: block;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 20px;
    text-transform: none;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }

  .menu-category ul li a.current {
    background: #7273ae;
    color: #ffffff;
  }

  .menu-category ul li a.current:hover,
  .menu-category ul li a:hover {
    background: #ffffff;
    color: #7273ae;
  }

  .menu-category ul li a:hover span,
  .menu-category ul li.current a span {
    background: #ffffff;
    color: #7273ae;
  }

  .menu-category ul ul {
    display: block;
  }

  .menu-category ul ul li {
    border-right: 0 !important;
  }

  .menu-category ul ul li a {
    padding-left: 35px;

  }

  .menu-category ul ul li a::before {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0da";
    left: 20px;
    color: #029137;

  }

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 767px) {

  #vnt-main {
    width: 100%;
    margin-bottom: 15px;
  }

  #vnt-sidebar {
    width: 100%;
  }

}

@media only screen and (max-width: 479px) {

}

@media only screen and (max-width: 414px) {

}

@media only screen and (max-width: 360px) {

}

@media only screen and (max-width: 320px) {

}
