html.openmenu{
	overflow: hidden !important;
	position: relative !important;
}
body{
	font-family: "Roboto";
	font-size: 14px;
	line-height: 22px;
	color: #333333;
}

#vnt-wrapper{
	width: 100%;
}
#vnt-container{
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}


a{
	color: #333333;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
a:hover{
	color: #d82727;
}
a:focus,
a:active{
	outline: none;
	text-decoration: none;
}




/*==BEGIN: HEADER==*/
#vnt-header{
	padding: 8px 0;
	position: relative;
	margin-bottom: 15px;
	z-index: 100;
	-webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
}
#vnt-header:after{
	display: block;
	content: '';
	clear: both;
}
#vnt-header .vnt-logo{
	float: left;
	width: 200px;
	height: 70px;
	text-align: center;
}
#vnt-header .vnt-logo img{
	max-width: 100%;
	max-height: 70px;
}
#vnt-header .vnt-tool{
	float: right;
}
#vnt-header .vnt-tool::after{
	content: '';
	clear: bottom;
	display: table;
}


#vnt-header .vnt-search{
	float: left;
	width: 300px;
}

.vnt-search{ }
.vnt-search .form-control{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: 1px solid #dddddd;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	height: 40px;
}
.vnt-search button.btn{
	width: 40px;
	height: 40px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: 0;
	font-size: 18px;
	line-height: 25px;
	color: #ffffff;
	background: #d82727;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
.vnt-search button.btn:hover{
	color: #fbac09;
}
.vnt-search button.btn span{
	font-size: inherit;
	line-height: inherit;
	color: inherit;
}



#vnt-header .vnt-member{
	float: left;
	width: 200px;
	text-align: center;
}
#vnt-header .vnt-lang{
	float: left;
	min-width: 100px;
}

/*==END: HEADER==*/


/*==BEGIN: MENU==*/
#vnt-menutop{
	height: 40px;
	background: #d82727;
}
.vnt-menutop > ul:after{
	display: block;
	content: '';
	clear: both;
}
.vnt-menutop > ul > li{
	float: left;
	margin-right: 1px;
	position: relative;
}
.vnt-menutop > ul > li > a{
	display: block;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	padding: 10px 8px;

	color: #ffffff;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.vnt-menutop > ul > li.current > a,
.vnt-menutop > ul > li:hover > a{
	background: #fbac09;
	color: #ffffff;
}
.vnt-menutop > ul > li > a > .fas{
	font-size: 14px;
	line-height: 20px;
	font-weight: 900;
	padding: 0 5px;
}
.vnt-menutop ul ul{
	position: absolute;
	top: 100%;
	left: 0;
	width: 200px;
	z-index: 999;
	border-bottom: 3px solid #d82727;
	background: #ffffff;
	-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translate(0, 40px);
	-moz-transform: translate(0, 40px);
	-ms-transform: translate(0, 40px);
	-o-transform: translate(0, 40px);
	transform: translate(0, 40px);
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.vnt-menutop ul li:hover > ul{
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
	opacity: 1;
	visibility: visible;
}
.vnt-menutop ul ul li{
	border-bottom: 1px solid rgba(0,0,0,0.1);
	position: relative;
}
.vnt-menutop ul ul li.has-sub {
	padding-right: 15px;
}
.vnt-menutop ul ul li.has-sub::after{
	position: absolute;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: '\f0da';
	right: 7px;
	top: 10px;
}
.vnt-menutop ul ul li a{
	display: block;
	font-size: 14px;
	line-height: 20px;
	padding: 10px 15px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.vnt-menutop ul ul li:hover > a{
	padding: 10px 7px 10px 23px;
	color:#d82727 ;
}
.vnt-menutop ul ul ul{
	top: 0;
	left: 100%;
	-webkit-transform: translate(40px, 0);
	-moz-transform: translate(40px, 0);
	-ms-transform: translate(40px, 0);
	-o-transform: translate(40px, 0);
	transform: translate(40px, 0);
}

/*==END: MENU==*/









	/*==BEGIN: CONTENT==*/
#vnt-content {
  padding: 20px 0 ;
}
.mod-content {
	position: relative;
	margin-left: -10px;
	margin-right: -10px;
}
.mod-content::after {
	content: '';
	clear: both;
	display: table;
}
#vnt-main {
	float: left;
	width: 70%;
	padding: 0 10px;
}
#vnt-sidebar {
	float: right;
	width: 30%;
	padding: 0 10px;
}

/*==END: CONTENT==*/


/*==BEGIN: FOOTER==*/
#vnt-footer {
	border: 1px solid #cccccc;
	padding: 15px;
}

.vnt-footer-menu {
	margin-bottom: 10px;
	border-bottom: 1px solid #cccccc;
	padding-bottom: 10px;
	text-align: center;
}
.footer-menu ul {
	list-style: none;
	overflow: hidden;
	display: inline-block;

}
.footer-menu ul li {
	float: left;
	position: relative;
	padding-right: 10px;
	margin-right: 10px;
	color: #d3d3d3;
}
.footer-menu ul li::after {
	position: absolute;
	content: '|';
	right: -1px;
	top: 5px;
}
.footer-menu ul li:last-child::after {
	content: '';
}
.footer-menu ul li a {
	display: block;
	padding: 5px 10px;
	line-height: 25px;
	color: #333333;
	font-size: 13px;
}
.footer-menu ul li a:hover {
	color: #d82727;
}
.footer-menu ul li:first-child a {
	padding-left: 0;
}


.vnt-copyright {
	 text-align: center;
}
.copyright { }
.copyright span {
	font-weight: bold;
}
.madeby {}

/*==END: FOOTER==*/