.the-content {
    color: #555555;
    font-size: 16px;
    line-height: 26px;
}

.a-welcome {
    font-size: 18px;
    color: #999999;
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
}
.a-welcome::before {
    position: absolute;
    font-family: "FontAwesome";
    content: "\f10d";
    left: 0;
    color: #e5e5e5;
    font-size: 20px;
}

.a-title {
    color: #7273ae;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 20px;
}
.a-content {

}


@media only screen and (max-width: 991px) {
    .a-img {
        margin-bottom: 30px;
        text-align: center;
    }
}
